@media print {

    @page {
        size : 210mm 297mm;
        margin-left: 0mm;
        margin-right: 0mm;
        margin-bottom: 10mm;
        margin-top: 20mm;
    }


    footer, .navbar {display: none}


    #logo {
        position: absolute;
        top: 250mm;
        right: 10mm;
        width: 32mm;
    }

    #logoHead {
        width: 26mm;
        visibility: visible;
        position: absolute;
        top: 555mm;
        left: 10mm;
    }

    #promise {
        position: absolute;
        left: 10mm;
        top: 260mm;
        width: 64mm;
        visibility: visible;
    }

    #title {
        text-align: center;
        page-break-after: always;
    }
    .standardMargin {
        margin-left: 10mm;
        page-break-after: always;
    }

    .coverLetter {
        margin-left: 40mm;
        margin-top: 26mm;
        margin-bottom: 20mm;
        margin-right: 10mm;
        padding-top: 20mm;
        padding-bottom: 20mm;
        size : 210mm 297mm;
        page-break-after: always;
        page-break-inside: auto;
    }

    .coverLetterFooterText {
        width:25%;
        border:thick;
    }
    #letterFooter {
        position: absolute;
        top: 800mm;
        width: 154mm;
        margin-right: 10mm;
    }

}