body{
	margin-top: 60px;
}

.quantityInput {
    text-align: right;
    width: 25px;
}

.discountInput {
    text-align: right;
    width: 30px;
}

.letterArea {
    width: 800px;
}

.inputArea {
    width: 10px;
}

pre {
    font-family:"Helvetica";
    font-size: 14px;
    white-space: pre-wrap;
    border: none;
}

#title {
    text-align: center;
    page-break-after: always;
}

.pbAfter {
    page-break-after: always;
}

#logo {
    width: 32mm;
}
#promise {
    width: 64mm;
    visibility: hidden;
}


.tblCont {
    font-size: 18px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
}


@media print {

    @page {
        margin-left: 10mm;
        margin-right: 10mm;
        margin-bottom: 19mm;
        margin-top: 10mm;
    }

    @bottom-center { content: counter(page) }


    footer, .navbar {display: none}


    #logo {
        position: absolute;
        left: 168mm;
        top: 263mm;
        width: 32mm;
    }

    #promise {
        position: absolute;
        left: 10mm;
        top: 278mm;
        width: 64mm;
        visibility: visible;
    }

    #title {
        text-align: center;
        margin-bottom: -20mm;
        page-break-after: always;
    }
    .summary {

        margin-left: 0mm;
        page-break-after: always;
    }

}