<!doctype html>
<html lang="en" ng-app="QuotationApp" id="ng-app">
<head>
    <!--[if lte IE 8]>
    <script src="/lib/js/json2.js"></script>
    <![endif]-->
  <meta charset="utf-8">
  <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css" href="lib/css/ng-grid.css" /> -->
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css" />
   
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap-responsive.min.css" />
    
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>
<body ng-controller="IndexCtrl">

	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Atlas Copco</a>
        <div class="nav-collapse collapse">
          <ul class="nav">

              <li><a href="#/info">Information Input</a> </li>
              <li><a href="#/products">Products</a></li>
              <li><a href="#/quotation">Quotation</a></li>
            
          </ul>
          <ul class="nav pull-right">
            <li><button ng-click="saveState(quotation.companyName)" class="btn">Save</button></li>
            <li><button ng-click="loadState()" class="btn">Load</button><input type="file" id="loadState" ng-model="stateFile" class="input-mini"></li>
           <!-- <li><a href="" ng-click="savePDF()">Export to PDF</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div ng-view></div>
</div>
<hr>


<footer>
<p>&copy; Atlas Copco 2013</p>
</footer>


<!-- Partials -->

   <!-- This is the Info View-->
    <script type="text/ng-template" id="partials/info-view.html">
        <div class="row">
            <div class="span6">
                <h3>Front Page</h3>
            </div>
        </div>
        <!-- Input for the front page -->
        Company Name:
        <br><input type="text" ng-model="$parent.quotation.companyName" placeholder="Enter company name" class>
        <br>
        Customer Name:
        <br><input type="text" ng-model="$parent.quotation.customerName" placeholder="Enter customer name" class>
        <br>
        Customer Title:
        <br><input type="text" ng-model="$parent.quotation.customerTitle" placeholder="Enter title" class>
        <br>
        Quotation prepared by:
        <br><input type="text" ng-model="$parent.quotation.preparedBy" placeholder="Prepared by" class>
        <br>
        <br>
        Include date: <input type="checkbox" ng-model="$parent.quotation.date" class> &nbsp; <div ng-controller="QuotationCtrl">{{year}}-{{month()}}-{{day()}}</div>
        <br>
        <br>

        <!-- Adding, importing and editing a cover letter-->
        <h3>Please choose a cover letter </h3>
            <span class="nullable">
                <select ng-model="$parent.selectedLetter" ng-options="letter.title for letter in coverLetters" ng-change="setContent(selectedLetter.content)"><br>
                    <option value="" ng-model="$parent.selectedLetter" ng-change="setContent()">No letter</option>
                </select>
                </span>
        <br>
        <input type="file" id="fileToLoad" ng-model="fileToLoad"><button ng-click="loadFileAsText()" class="btn">Load Selected File</button>
        <br>

        <!-- This is the where you can save and load letters on the hard drive-->
        <textarea ng-model="quotation.letterText" ui-tinymce contenteditable="true" spellcheck="true" lang="en" rows="15" class="letterArea" ng-change="setContent(quotation.letterText)" ng-trim='false'></textarea>
        <br>


        <br>
        <!-- <input type="file" id="fileToLoad"><button ng-click="loadFileAsText()" onclick="loadFileAsText()">Load Selected File</button>  -->
        <table>
            <tr>
                <td>Filename to Save As:</td>
                <td><input id="inputFileNameToSaveAs" ng-model="saveName"></td>
                <td><button ng-click="saveTextAsFile(saveName)" class="btn">Save Text to File</button></td>
            </tr>
        </table>

        <!-- Notes -->
        <h3>Notes</h3>
        <textarea ng-model="quotation.notes"  ui-tinymce rows="10" class="letterArea"  ng-change="setNotes(quotation.notes)" ng-trim='false'></textarea>
        <!-- Terms and conditions -->
        <br>
        <h3>Terms and Conditions</h3>
        <!-- Add TC here, dropdown menu -->
        <span class="nullable">
            <select ng-model="quotation.selectedTerms"><br>
                <option value="" ng-model="quotation.selectedTerms">No Terms and Conditions</option>
                <option value="Standard Terms" ng-model="quotation.selectedTerms">Standard Terms and Conditions</option>
            </select>
       </span>
        <br>
        {{terms(quotation.selectedTerms)}}

        <!-- Product descriptions -->
        <br>
        <h3>Product Description </h3>
        <br>
        <div ng-repeat="desc in quotation.productDescriptions">
            <table>
                <tr>
                    <td>{{desc.Name}} </td>
                    <td><input type="checkbox" ng-model="desc.included" ng-checked="desc.included" ng-change="includeDesc(desc, desc.included)"/></td>
                </tr>
            </table>

        <br>
        </div>

        <!-- Technical Specifications -->
        <h3>Technical Specifications </h3>
        <br>
        <div ng-repeat="spec in quotation.technicalSpecifications">
            <table>
                <tr>
                    <td>{{spec.Name}}</td>
                    <td><input type="checkbox" ng-model="spec.included" ng-checked="spec.included" ng-change="includeSpec(spec, spec.included)"/></td>
                </tr>
            </table>

            <br>
            </div>


    </script>



    <!-- This is the Product view -->
<script type="text/ng-template" id="partials/products-view.html">
       <div class="span8">

            <div class="span6">

                <!-- Choose the Base Product
                Set pump to "" when changing-->
          <select ng-model="$parent.selectedBase" ng-options="productTitle.Description for productTitle in quotation.baseProducts" ng-change="resetAll()">
              <option value="">Select Base</option>
          </select>
            &nbsp;&nbsp; Base Cost: {{getStdCost(selectedBase)}}

            <br>
            <br>
            <br>
      </div>

           <!-- Choose the sub products here. This is for the first pricing summary-->

           <!-- This should be automated, ng-repeat??   -->

            <div ng-repeat="object in catProdRadio" class="span6">
                <div ng-show="showOptions(object.class)">
                    <strong>{{object.class}}: </strong><br>
                    <div class="row">
                        <!-- Put ng-model back in input and do object.product.selected as model-->
                        <form ng-model=$parent.object.selected>
                            {{object[$index].selected}}
                            <input type="radio"  value="" ng-checked="true" name=object.class> No {{object.class}} <br><br>

                            <div ng-repeat="product in object.products | filter:{Dep:selectedBase.Part}">
                                <input type="radio"  value="{{product.Part}}" name=object.class> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                            </div>
                        </form>
                        {{object[2].selected}}
                        {{selections[object]}}
                        {{selections[1]}}
                        {{getSelections()}}
                    </div>

                    <br>
                    <br>
                </div>
            </div>
            {{object}}

            <div ng-repeat="object in catProdCheck" class="span6">
                <div ng-show="showOptions(object.class)">
                    <strong>{{object.class}}: </strong><br>
                    <div class="row">
                        {{object.selected}}
                        <form ng-model= object.selected>
                            <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Accessories'}">
                                <input type="checkbox"  value="{{product.Part}}"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <!--      <div ng-show="showOptions('Accessories')">
           <strong> Accessories: </strong><br>
           <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Accessories'}" class="row">
               <input type="checkbox" ng-model="product.Accessories"  value="{{product.Part}}"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
           </div>
           <br>
           <br>
       </div>



     <!-- Truck -->
        <!-- Need to be changed to the correct filter -->
            <!--  <div class="span6">
              <div ng-show="showOptions('Truck')">

              <strong> Truck: </strong><br>
                  <div class="row">
                      <input type="radio" ng-model="$parent.selectedTruck"  value="" ng-checked="true" name="truckSelect"> No Truck <br><br>
                  </div>
                  <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Truck'}" class="row">
                      <input type="radio" ng-model="$parent.selectedTruck"  value="{{product.Part}}" name="truckSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                  </div>
                  <br>
                  <br>
              </div>



              <!-- Truck Options -->
            <!--    <div ng-show="showOptions('TruckOption')">
                    <strong> Truck Options: </strong><br>
                    <div class="row">
                        <input type="radio" ng-model="$parent.selectedTruckOption"  value="" ng-checked="true" name="truckOptionSelect"> No Truck Options <br><br>
                    </div>
                    <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'TruckOption'}" class="row">
                        <input type="radio" ng-model="$parent.selectedTruckOption"  value="{{product.Part}}" name="truckOptionSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                    </div>
                    <br>
                    <br>
                </div>


                <!-- Rotation Torque -->

            <!--   <div ng-show="showOptions('Torque')">
                   <strong> Rotation Torque: </strong><br>
                   <div class="row">
                       <input type="radio" ng-model="$parent.selectedTorque"  value="" ng-checked="true" name="torqueSelect"> No Rotation Torque <br><br>
                   </div>
                   <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Torque'}" class="row">
                       <input type="radio" ng-model="$parent.selectedTorque"  value="{{product.Part}}" name="torqueSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                   </div>
                   <br>
                   <br>
              </div>


               <!-- Drill Pipe Setup -->

            <!--     <div ng-show="showOptions('DrillPipe')">
                     <strong> Drill Pipe Setup: </strong><br>
                     <div class="row">
                     <input type="radio" ng-model="$parent.selectedDrillPipe"  value="" ng-checked="true" name="DrillPipeSelect"> No Drill Pipe <br><br>
                     </div>
                     <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'DrilPipe'}" class="row">
                         <input type="radio" ng-model="$parent.selectedDrillPipe"  value="{{product.Part}}" name="DrillPipeSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                     </div>
                     <br>
                     <br>
                </div>


                 <!-- Air Piping -->

            <!--   <div ng-show="showOptions('AirPiping')">
               <strong> Air Piping: </strong><br>
                   <div class="row">
                       <input type="radio" ng-model="$parent.selectedAirPiping"  value="" ng-checked="true" name="airPipingSelect"> No Air Piping <br><br>
                   </div>
                   <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'AirPiping'}" class="row">
                       <input type="radio" ng-model="$parent.selectedAirPiping"  value="{{product.Part}}" name="airPipingSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                   </div>
                   <br>
                   <br>
              </div>


               <!-- Water Injection -->

            <!--  <div ng-show="showOptions('WaterInjection')">
              <strong> Water Injection: </strong><br>
                  <div class="row">
                      <input type="radio" ng-model="$parent.selectedWaterInjection"  value="" ng-checked="true" name="waterInjectionSelect"> No Water Injection <br><br>
                  </div>
                  <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'WaterInjection'}" class="row">
                      <input type="radio" ng-model="$parent.selectedWaterInjection"  value="{{product.Part}}" name="waterInjectionSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                  </div>
                  <br>
                  <br>
             </div>



              <!-- Hoists -->

            <!--  <div ng-show="showOptions('Hoist')">
                  <strong> Hoists: </strong><br>
                  <div class="row">
                      <input type="radio" ng-model="$parent.selectedHoist"  value="" ng-checked="true" name="hoistSelect"> No Hoists <br><br>
                  </div>
                  <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Hoist'}" class="row">
                      <input type="radio" ng-model="$parent.selectedHoist"  value="{{product.Part}}" name="hoistSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                  </div>
                  <br>
                  <br>
             </div>



              <!-- Piping Handling -->

            <!--   <div ng-show="showOptions('PipingHandling')">
                   <strong> Piping Handling: </strong><br>
                   <div class="row">
                       <input type="radio" ng-model="$parent.selectedPipingHandling"  value="" ng-checked="true" name="pipingHandlingSelect"> No Piping Handling <br><br>
                   </div>
                   <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'PipingHandling'}" class="row">
                       <input type="radio" ng-model="$parent.selectedPipingHandling"  value="{{product.Part}}" name="pipingHandlingSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                   </div>
                   <br>
                   <br>
              </div>



               <!-- Mud Pump -->

            <!--    <div ng-show="showOptions('Pump')">
                <strong> Mud Pump: </strong><br>
                    <div class="row">
                    <input type="radio" ng-model="$parent.selectedPump"  value="" name="pumpSelect" ng-checked="true"> No Pump <br><br>
                    </div>
                    <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Pump'}" class="row">
                        <input type="radio" ng-model="$parent.selectedPump"  value="{{product.Part}}" name="pumpSelect"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                    </div>

                    <br>
                    <br>
               </div>


                <!-- Cold Weather Package -->
            <!--
           <div ng-show="showOptions('ColdWeather')">
               <strong> Cold Weather: </strong><br>
               <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'ColdWeather'}" class="row">
                   <input type="checkbox" ng-model="product.ColdWeather"  value="{{product.Part}}"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
               </div>
               <br>
               <br>
           </div>

           <!-- Miscellaneous -->

            <!--       <div ng-show="showOptions('Miscellaneous')">
                      <strong> Miscellaneous: </strong><br>
                      <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Miscellaneous'}" class="row">
                          <input type="checkbox" ng-model="product.Miscellaneous"  value="{{product.Part}}"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                      </div>
                      <br>
                      <br>
                  </div>

                  <!-- Accessories -->
            <!--      <div ng-show="showOptions('Accessories')">
                     <strong> Accessories: </strong><br>
                     <div ng-repeat="product in quotation.products | filter:{Dep:selectedBase.Part, Class:'Accessories'}" class="row">
                         <input type="checkbox" ng-model="product.Accessories"  value="{{product.Part}}"> {{product.Description}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price: {{getStdCost(product)}}<br><br>
                     </div>
                     <br>
                     <br>
                 </div>



                 <!-- Trying to Automate it -->
        <!-- <div class="span6" ng-repeat="product.Class in products">
             {{product.Class}}
         </div>      -->

          <div class="span6">
            <table>
                <tr>
                    <td><button ng-click="addClick()" class="btn">Add to Quote</button></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td><button ng-click="addClick2()" class="btn">Add to Second Quote</button></td>
                </tr>
            </table>


            <br>
            <br>


        <br>
        <br>
        <h3>Discount</h3>
        <br>
        <strong> Add a percentage discount on the summary </strong>
        <br>
        Main Pricing summary: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" ng-model="quotation.Discount" value="0" min="0" class="discountInput"/> % <br>
        Second Pricing summary:&nbsp; <input type="number" ng-model="quotation.Discount2" class="discountInput" value="0" min="0"/> % <br>
        <br>
          </div>
        <br>
        <br>

           <!-- This is the first pricing summary-->
        <div class="span6">
           <h3>Main Pricing Summary</h3>
           <table class="table table-striped">
            <tr>
                <th> Type </th>
                <th> <a href="" ng-click="settings.order = 'Part'; settings.reverse=!settings.reverse">Part</a></th>
                <th> <a href="" ng-click="settings.order = 'Description'; settings.reverse=!settings.reverse">Description</a></th>
                <th> <a href="" ng-click="settings.order = 'StdCost'; settings.reverse=!settings.reverse">Cost</a></th>
                <th> </th>
            </tr>
            <tr ng-repeat="product in quotation.products | filter:{Quoted:true} | orderBy:settings.order:settings.reverse ">
                <!-- Add Strong if it is Base -->
                <td>{{product.Class}}</td>
                <td>{{product.Part}}</td>
                <td>{{product.Description}}</td>
                <td>{{product.StdCost}}</td>
                <td><button ng-click="removeClick(product, 'Main')" class="btn-small">-</button></td>
            </tr>
            <tr>
                <td>Total: </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{TotalSum()}}</td>
            </tr>
        </table>
        <br>
        <br>
           <!-- This is the second pricing summary-->
        <br>
           <h3>Secondary Pricing Summary</h3>
        <br>
           <table class="table table-striped">
               <tr>
                   <th> Type </th>
                   <th> <a href="" ng-click="settings.order = 'Part'; settings.reverse=!settings.reverse">Part</a></th>
                   <th> <a href="" ng-click="settings.order = 'Description'; settings.reverse=!settings.reverse">Description</a></th>
                   <th> <a href="" ng-click="settings.order = 'StdCost'; settings.reverse=!settings.reverse">Cost</a></th>
                   <th> </th>

               </tr>
               <tr ng-repeat="product in quotation.products | filter:{Quoted2:true} | orderBy:settings.order:settings.reverse ">
                   <!-- Add Strong if it is Base -->
                   <td>{{product.Class}}</td>
                   <td>{{product.Part}}</td>
                   <td>{{product.Description}}</td>
                   <td>{{product.StdCost}}</td>
                   <td><button ng-click="removeClick(product, 'Second')" class="btn-small">-</button></td>
               </tr>
               <tr>
                   <td>Total: </td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td>{{TotalSum2()}}</td>
               </tr>
           </table>
        </div>

        <br>
        <br>
        <br>

            <div class="span8"><h3>Custom add products</h3></div>
        <div class="span2">

            <form class="form-search">
                <input ng-model="query" class="input-medium search-query" type="text" placeholder="Search…">
            </form>
        </div>
            <div class="span6 ">

              <table class="table table-striped table-bordered" >
              <tr>
                <th>Add Main</th>
                <th>Add Second</th>
                <th>Part</th>
                <th>Description</th>
                <th>StdCost</th>
              </tr>
                  <tr ng-repeat="product in quotation.products | filter:query" >
                      <td><button ng-click="addCustom(product)" class="btn">Main</button></td>
                      <td><button ng-click="addCustom2(product)" class="btn">Second</button></td>
                      <td>{{product.Part}}</td>
                      <td>{{product.Description}}</td>
                      <td>{{product.StdCost}}</td>
                  </tr>
              </table>

    </div>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
       </div>


</script>





    <!-- This is the Quotation view -->
<script type="text/ng-template" id="partials/quotation-view.html" >

    <div class="span8">
        <!-- First the front page is added -->
        <div id="title">
            <h2>Atlas Copco Quotation</h2><br>
                <br>
                <img src="lib/img/AClogo.jpg" id="logo" width="121">
                <br>
                <strong>
                <p>Quotation prepared for <br> {{quotation.companyName}} </p>
                <p>For the attention of <br>{{quotation.customerTitle}} {{quotation.customerName}} </p>
                <p>Quotation prepared by {{quotation.preparedBy}} </p>
                <p>Of Atlas Copco</p>
                    <p ng-show="quotation.Date">{{year}}-{{month()}}-{{day()}}</p>
                </strong>
                 <!--<p>{{year}}-{{month()}}-{{day()}}</p>-->
            </div>

        <!-- Table of Contents -->
        <div class="pbAfter">
            <h2>Table of Contents</h2>
            <br>
            <br>
            <table class="tblCont">
                <tr ng-show="includeLetter()"><td>Cover Letter</td></tr>
                <tr ng-show="true"><td>Pricing Summary</td></tr>
                <tr ng-show="secondQuote()"><td>Pricing Summary 2</td></tr>
                <tr ng-show="includeNotes()"><td>Notes</td></tr>
                <tr ng-show="includeTerms()"><td>Terms and Conditions</td></tr>
                <tr ng-show="includeDesc(productDesc)"><td>Product Descriptions</td></tr>
                <tr ng-show="includeSpec()"><td>Technical Specifications</td></tr>
            </table>
        </div>

        <!-- Cover Letter -->
        <div class="pbAfter" ng-show="includeLetter()">
            <h2>Cover Letter</h2>
            <br>
            <p>
                <!-- Here is the contents of the Cover Letter added -->

            <span ng-bind-html="quotation.letterText"></span>

            </p>
            <br>
            <br>
        </div>

        <!-- Pricing Summary -->
        <div class="pbAfter">
        <h2>Pricing Summary</h2>

        <table class="table table-striped">
            <tr>
                <th> Type </th>
                <th> <a href="" ng-click="settings.order = 'Part'; settings.reverse=!settings.reverse">Part</a></th>
                <th> <a href="" ng-click="settings.order = 'Description'; settings.reverse=!settings.reverse">Description</a></th>
                <th> <a href="" ng-click="settings.order = 'StdCost'; settings.reverse=!settings.reverse">Unit Price</a></th>
                <th>Quantity </th>
                <th>Cost</th>
            </tr>
            <tr ng-repeat="product in quotation.products | filter:{Quoted:true} | orderBy:settings.order:settings.reverse ">

                <!-- Add Strong if it is Base... -->
                <td>{{product.Class}}</td>
                <td>{{product.Part}}</td>
                <td>{{product.Description}}</td>
                <td>{{product.StdCost}}</td>
                <td><input type="text" ng-model="product.Quantity" required min="1" class="quantityInput"></td>
                <td>{{numberWithCommas(getSubTot(product.Quantity, product.StdCost))}}</td>
            </tr>


        <tr ng-repeat="product in quotation.products | filter:isSelected | orderBy:settings.order:settings.reverse ">
          <td>{{product.Class}}</td>
          <td>{{product.Part}}</td>
          <td>{{product.Description}}</td>
          <td>{{product.StdCost}}</td>
          <td><input type="text" ng-model="product.Quantity" required min="1" class="quantityInput"></td>
          <td>{{numberWithCommas(getSubTot(product.Quantity, product.StdCost))}}</td>

        </tr>
            <tr ng-show="includeDiscount(1)">
                <td>Discount: </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{quotation.Discount}} %</td>
                <td> - {{numberWithCommas(getDiscount(quotation.Discount))}}</td>
            </tr>
            <tr>
                <strong>
                <td>Total: </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{numberWithCommas(TotalSum()-getDiscount(quotation.Discount))}}</td>
                </strong>
            </tr>
        </table>
        </div>
    <br>
    <br>

        <!-- Second Pricing Summary -->
    <div ng-show="secondQuote()" class="pbAfter">
        <p>
        <h2>Pricing Summary 2</h2>
        </p>
        <table class="table table-striped">
            <tr>
                <th> Type </th>
                <th> <a href="" ng-click="settings.order = 'Part'; settings.reverse=!settings.reverse">Part</a></th>
                <th> <a href="" ng-click="settings.order = 'Description'; settings.reverse=!settings.reverse">Description</a></th>
                <th> <a href="" ng-click="settings.order = 'StdCost'; settings.reverse=!settings.reverse">Unit Price</a></th>
                <th>Quantity </th>
                <th>Cost</th>
            </tr>
            <tr ng-repeat="product in quotation.products | filter:{Quoted2:true} | orderBy:settings.order:settings.reverse ">
                <!-- Add Strong if it is Base -->
                <td>{{product.Class}}</td>
                <td>{{product.Part}}</td>
                <td>{{product.Description}}</td>
                <td>{{product.StdCost}}</td>
                <td><input type="text" ng-model="product.Quantity2" required min="1" class="quantityInput"></td>
                <td>{{getSubTot(product.Quantity2, product.StdCost)}}</td>
            </tr>
            <tr ng-show="includeDiscount(2)">
                <td>Discount: </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{quotation.Discount2}} %</td>
                <td> - {{numberWithCommas(getDiscount(quotation.Discount2))}}</td>
            </tr>
            <tr>
                <strong>
                    <td>Total: </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{numberWithCommas(TotalSum2()-getDiscount(quotation.Discount2))}}</td>
                </strong>
            </tr>
        </table>
            </div>

        <!-- Notes -->
        <div ng-show="includeNotes()" class="pbAfter">
            <h3>Notes</h3>
            <span ng-bind-html="quotation.notes"></span>
        </div>

        <!-- Terms and Conditions -->
        <div ng-show="includeTerms()" class="pbAfter">
            <h3>Terms and Conditions</h3>
            <span ng-bind-html="quotation.terms.Content"></span>
        </div>


        <!-- Adding the product info sheets -->
        <!-- Add ng-src -->
        <div ng-repeat="prodDesc in quotation.productDescriptions">
            <div ng-repeat="imgsrc in prodDesc.imgsrc">
                <img ng-src="data/desc/{{prodDesc.Name}}/{{imgsrc}}" ng-show="descIsIncluded(prodDesc.Name)">
            </div>
        </div>


        <!-- Adding the technical specifications info sheets -->
        <div ng-repeat="techSpec in quotation.technicalSpecifications">
            <div ng-repeat="imgsrc in techSpec.imgsrc">
                <img ng-src="data/spec/{{techSpec.Name}}/{{imgsrc}}" ng-show="specIsIncluded(techSpec.Name)">
            </div>
        </div>

    </div>
    <br>
    <br>

</script>



<!-- End Partials -->


    <!-- jQuery -->

    <script type="text/javascript" src="lib/js/jquery-1.9.1.js"></script>



    <!-- Angular -->
    <script src="lib/js/angular.js"></script>

    <!-- AngularUI-stuff and Bootstrap -->
    <!-- <script type="text/javascript" src="lib/js/ng-grid-2.0.6.min.js"></script> -->

    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>

    <!-- SaveFiles -->
    <script type="text/javascript" src="lib/js/FileSaver.js"></script>
    <!-- PDF Generator -->
    <!--
    <script type="text/javascript" src="lib/js/jspdf.js"></script>
    <script type="text/javascript" src="lib/js/jspdf.plugin.addimage.js"></script>
    <script type="text/javascript" src="lib/js/jspdf.plugin.cell.js"></script>
    <script type="text/javascript" src="lib/js/jspdf.plugin.split_text_to_size.js"></script>
    <script type="text/javascript" src="lib/js/jspdf.plugin.standard_fonts_metrics.js"></script>
     -->

    <!-- Tinymce, Textarea -->
    <script type="text/javascript" src="lib/tinymce/assets/tiny_mce.js"></script>

    <script type="text/javascript" src="lib/tinymce/assets/jquery.tinymce.js"></script>

    <script type="text/javascript" src="lib/tinymce/assets/plugins/spellchecker/editor_plugin.js"></script>

    <script type="text/javascript" src="lib/tinymce/assets/plugins/spellchecker/editor_plugin_src.js"></script>



    <!--Application-->
    <script type="text/javascript" src="lib/js/angular_sanitize.js"></script>

    <script type="text/javascript" src="data/ProductData.js"></script>

    <script type="text/javascript" src="data/TermConditions.js"></script>

    <script type="text/javascript" src="data/CoverLetters.js"></script>

    <script type="text/javascript" src="data/desc/ProductDescriptions.js"></script>

    <script type="text/javascript" src="data/spec/TechnicalSpecifications.js"></script>


    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="lib/tinymce/directive.js"></script>

    <script type="text/javascript" src="js/controllers.js"></script>

        <!--
    <script type="text/javascript" src="js/fileHandler.js"></script>
    -->





</body>
</html>